/* inicio do código css*/
/*primeira parte - responsividade mobile*/
* {
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  font-size: 15px;
  font-family src: url('lato-regular-webfont.woff2'), 'latoregular';
}
/* No cabeçalho vai conter o menu responsivo, titulo e imagem*/
.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e0e0e0;
}

.logo {
  margin-left: 20px;
}

.titulo {
  /*display: flex;*/
  /*justify-content: center;*/
  font-weight: 600;
  font-size: 18px;
  /*line-height: 16px;*/
  margin-left: -5px;
  margin-top: 7px;
}
/*construção do botão responsivo menu hamburguer*/
.botao {
  margin-right: 18px;
  margin-top: 7px;
}

.menu {
  display: flex;
}

.menu a {
  text-decoration: none;
  text-align: right;
  color: black;
}

.menu ul {
  list-style: none;
}

.imagemMenu img {
  width: 30px;
}
/*input do botão checkbox*/
.cabecalho input[type='checkbox'] {
  display: none;
}
/*contrução da tela de transição transição*/
.cabecalho nav {
  position: fixed;
  background-color: #333333;
  width: 350px;
  right: -350px;
  height: 100%;
  transition: all 0.8s;
}

.cabecalho input[type='checkbox']:checked ~ nav {
  transform: translateX(-350px);
}

.menu ul {
  width: 100%;
  top: 70px;
}

.menu a {
  display: block;
  padding: 20px 5px;
  color: white;
}

.cabecalho a:hover {
  background-color: rgb(176, 224, 230);
  color: black;
}
/*colocação do botão menu a frente da tela de transição*/
.imagemMenu label {
  padding: 15px;
  position: absolute;
  z-index: 9999;
}
/*inicio do primeiro formulario - formulario de nova transação*/
.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.ttMercValorAdd {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 34px;
  justify-content: center;
}

.formUm {
  /*meche no tipo de transação, mercadoria e valor*/
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
}

.formulario h1 {
  /*retira o titulo NOVA TRANSAÇÃO na versão mobile*/
  display: none;
}

.formUmTt {
  display: flex;
  flex-direction: column;
}

.formUmMercadoria {
  display: flex;
  flex-direction: column;
}

.formUmValor {
  display: flex;
  flex-direction: column;
}

.formulario select {
  border: 1px solid #979797;
  border-radius: 4px;
  color: black;
  height: 32px;
}

.formulario input {
  /*input da mercadoria e valor*/
  background-color: #fff;
  color: #333333;
  border: 1px solid #979797;
  border-radius: 4px;
  height: 32px;
}

.formulario .addTransacao {
  /*referente ao botão de adicionar transação*/
  background-color: #333333;
  color: #fff;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 19.78px;
  line-height: 22px;
  
}
/*inicio do formulario tabela de extrato de transações*/
.formularioTabela {
  /*resoponsável pela parte geral da tabela*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 48px;
  margin-bottom: 30px;
  border-collapse: collapse;
  border-top: 1px solid #979797;
}

.formularioTabela h2 {
  /*titulo extrato de transações*/
  text-align: center;
}

.tabelaGeral {
  /*retirada dos espaços entra as bordas da tabela*/
  border-spacing: 0px;
}

.tabelaGeral th,
td,
tr {
  /*estrutura da tabela onde se encontram as mercadorias e valores*/
  text-align: left;
  border-bottom: 1px solid #979797;
  padding: 7px;
}
