body {
  font-family: 'latolight';
}

/*Cabeçalho e Menu*/
.cabecalho {
  display: flex;
  position: fixed;
  width: 101%;
  height: 80px;
  top: 0px;
  background-color: #e0e0e0;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 50px;
  width: 30px;
  margin-left: -41px;
}

.titulo {
  height: 62px;
  margin-left: 26%;
  margin-bottom: 23px;
  font-size: 20px;
}

.menu {
  margin-right: -27px;
  margin-left: 35px;
}

.menu .cadTransacoes {
  width: 197px;
  height: 40px;
  border: 2px solid #979797;
  margin-right: -4px;
  border-bottom: none;
  border-left: none;
  border-top: none;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}

.menu .limparDados {
  width: 197px;
  height: 40px;
  border: 2px solid #979797;
  margin-right: -4px;
  border-bottom: none;
  border-left: none;
  border-top: none;
  font-size: 16px;
  color: #333333;
  cursor: pointer;
}

.menu button:last-child {
  border-right: none;
}

/*Conjunto formulario e tabela*/
.container {
  display: flex;
  flex-direction: column;
}

.containerForm {
  width: 440px;
  max-width: 1100px;
  margin: 0px 20px 0px 20px;
  margin-top: 50px;
}

/*Primeiro formulario*/
.formulario {
  display: flex;
  padding: 10px;
  margin-top: 70px;
  margin-left: 197px;
  flex-direction: row;
  width: 967px;
  height: 160px;
  border-radius: 4px;
  border: 1px solid #979797;
}

.formUm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  height: 50px;
  top: 25px;
  font-size: 24px;
  background-color: #fff;
  margin: 10px 15px 10px 15px;
}

.tTransacao {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.btnSelecao {
  width: 195px;
  height: 32px;
  font-size: 18px;
}

.nMercadoria {
  display: flex;
  flex-direction: column;
  margin-left: -73px;
}

.bordaMercadoria {
  border: 1px solid #979797;
  border-radius: 4px;
  width: 363px;
  height: 32px;
  font-size: 18px;
}

.qValor {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
}

.bordaValor {
  border: 1px solid #979797;
  border-radius: 4px;
  width: 235px;
  height: 32px;
  font-size: 18px;
}

.addTransacao {
  background-color: #333333;
  color: #fff;
  border: 1px solid;
  border-radius: 4px;
  margin: 88px 15px 10px -267px;
  width: 246px;
  height: 42px;
  border-radius: 4px;
  font-size: 18px;
}

/*Formulario dois (Tabela)*/
.formTabela {
  width: 930px;
  display: flex;
  margin-top: -50px;
  margin-left: 229px;
  flex-direction: column;
}

.extTransacoes {
  font-size: 20px;
  text-align: center;
  margin-top: 104px;
}

.tabelaGeral {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  height: 281px;
  margin-left: 20px;
  top: 31px;
  font-size: 18px;
}

.tabelaGeral tr,
th,
td {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #979797;
  border-spacing: 0px;
  padding-left: 40px;
  padding-right: 20px;
}

@media screen and (max-width: 1112px) {
  .titulo {
    margin-left: -108px;
    margin-right: -24px;
  }

  .logo {
    margin-left: -84px;
    margin-right: -71px;
  }

  .menu {
    margin-left: 150px;
    margin-right: -74px;
  }

  .menu .limparDados {
    width: 145px;
    margin-right: 32px;
  }

  .formulario {
    margin-left: 81px;
    margin-top: 86px;
    width: 820px;
  }

  .formUm {
    margin-top: 28px;
    font-size: 18px;
  }

  .btnSelecao {
    font-size: 14px;
    height: 28px;
    width: 135px;
  }

  .bordaMercadoria {
    font-size: 14px;
    width: 285px;
    height: 28px;
  }

  .qValor {
    margin-left: 14px;
  }

  .bordaValor {
    font-size: 14px;
    height: 28px;
  }

  .addTransacao {
    height: 40px;
    font-size: 16px;
    margin: 106px 15px 10px -261px;
  }

  .formTabela {
    margin-left: 109px;
    margin-top: -69px;
  }

  .extTransacoes {
    margin-left: -40px;
  }

  .tabelaGeral {
    width: 836px;
    margin-left: -7px;
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .titulo {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 270px;
    margin-right: -173px;
    margin-bottom: 9px;
  }

  .logo {
    height: 44px;
    margin-left: -65px;
    margin-right: -400px;
  }

  .menu {
    margin-left: 184px;
    margin-right: -79px;
  }

  .menu button {
    width: 209px;
    height: 31px;
    font-size: 17px;
  }

  .container {
    display: block;
  }

  .containerForm {
    display: flex;
    margin: 0px 20px 0px -8px;
  }

  .formulario {
    width: 710px;
    height: 121px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 17px;
  }

  .formUm {
    margin-top: 8px;
    margin-left: 19px;
    font-size: 16px;
  }

  .tTransacao {
    display: flex;
    flex-direction: column;
    height: 25px;
    margin-left: -4px;
    font-size: 16px;
  }

  .btnSelecao {
    width: 149px;
    height: 25px;
    font-size: 14px;
  }

  .nMercadoria {
    width: 144px;
    height: 22px;
    margin-left: -70px;
    font-size: 16px;
  }

  .bordaMercadoria {
    width: 296px;
    height: 28px;
    font-size: 14px;
  }

  .qValor {
    width: 228px;
    height: 23px;
    margin-left: 18px;
    margin-right: -40px;
    font-size: 16px;
  }

  .bordaValor {
    height: 28px;
    width: 160px;
    font-size: 14px;
  }

  .addTransacao {
    margin: 79px 15px 10px -215px;
    width: 179px;
    height: 35px;
    font-size: 14px;
  }

  .formTabela {
    display: flex;
    flex-direction: column;
    width: 753px;
    height: 120px;
    margin-top: -70px;
    margin-left: 5px;
  }

  .extTransacoes {
    font-size: 16px;
  }

  .tabelaGeral {
    width: 704px;
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .titulo {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 270px;
    margin-right: -199px;
    margin-bottom: 8px;
  }

  .logo {
    height: 44px;
    margin-left: -65px;
    margin-right: -400px;
  }

  .menu {
    margin-left: 60px;
    margin-right: -79px;
  }

  .menu .cadTransacoes {
    width: 173px;
    height: 32px;
    font-size: 14px;
  }

  .menu .limparDados {
    width: 145px;
    height: 32px;
    margin-right: 32px;
    font-size: 14px;
  }

  .formulario {
    border: none;
    flex-direction: column;
    margin-left: 193px;
  }

  .tTransacao {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    height: 25px;
    margin-left: -67px;
  }

  .btnSelecao {
    width: 377px;
    height: 25px;
    font-size: 14px;
  }

  .nMercadoria {
    width: 228px;
    height: 22px;
    margin-left: -67px;
    margin-top: 15px;
    font-size: 16px;
  }

  .bordaMercadoria {
    width: 371px;
    height: 28px;
    font-size: 14px;
  }

  .qValor {
    width: 228px;
    height: 23px;
    margin-left: -67px;
    margin-right: -40px;
    margin-top: 15px;
    font-size: 16px;
  }

  .bordaValor {
    width: 371px;
    height: 28px;
    font-size: 14px;
  }

  .addTransacao {
    margin: 26px 0px 0px 44px;
    width: 179px;
    height: 35px;
    font-size: 14px;
  }

  .formTabela {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 120px;
    margin-top: -27px;
    margin-left: 153px;
  }

  .extTransacoes {
    font-size: 16px;
    margin-left: -148px;
  }

  .tabelaGeral {
    width: 371px;
    font-size: 14px;
  }
}
